<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="org.apache">
		<level value="DEBUG" />
	</logger>

	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework.web.servlet.DispatcherServlet">
		<level value="DEBUG" />
	</logger>

	<!-- iBatis Logger -->
	<logger name="com.ibatis">
		<level value="DEBUG" />
	</logger>

	<logger name="com.ibatis.common.jdbc.SimpleDataSource">
		<level value="DEBUG" />
	</logger>

	<logger name="com.ibatis.common.jdbc.ScriptRunner">
		<level value="DEBUG" />
	</logger>

	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.Connection">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.Statement">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.PreparedStatement">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.ResultSet">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
