<component name="ArtifactManager">
  <artifact type="war" name="SpringAppSecurity:war">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringAppSecurity_war</output-path>
    <root id="archive" name="SpringAppSecurity_war.war">
      <element id="artifact" artifact-name="SpringAppSecurity:war exploded" />
    </root>
  </artifact>
</component>