<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/applicationContext*.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.security.web.session.HttpSessionEventPublisher
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>heumServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>heumServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- SiteMesh 필터 설치 -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Spring Security 설치 -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ERROR-PAGE -->
    <error-page><error-code>401</error-code> <location>/WEB-INF/pages/errors/errors.jsp</location></error-page><!-- 서버 권한 에러 -->
    <error-page><error-code>403</error-code> <location>/WEB-INF/pages/errors/errors.jsp</location></error-page><!-- 서버 접근 권한 에러 -->
    <error-page><error-code>404</error-code> <location>/WEB-INF/pages/errors/errors.jsp</location></error-page><!-- url 에러 -->
    <error-page><error-code>405</error-code> <location>/WEB-INF/pages/errors/errors.jsp</location></error-page><!-- POST페이지인데 GET으로 접근했을때 -->
    <error-page><error-code>500</error-code> <location>/WEB-INF/pages/errors/errors.jsp</location></error-page><!-- 서버 내부 오류 -->
</web-app>